/* style_Modal.css */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-contenido {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.cerrar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    text-align: center;
}

.modal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal input[type="file"] {
    margin-bottom: 10px;
    
    
}

.modal button {
    margin-top: 10px;
}

.modal select {
    display: block;
    margin-bottom: 10px;
}

/* cuadro de busqueda*/
.contenedor_busqueda {
    display: flex;
}
.cuadro_busqueda {
    width: 200px;
    padding: 0.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0.5rem;
}
